@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[url('../images/peakpx(12).jpg')]  text-gray-300;
  }
}

button.eWjCzc {
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

li {
  cursor: pointer;

  padding: 5px;
}

li:hover {
  background-color: orange;
  color: black;
  border-radius: 10px;
}

.sc-jSMfEi.grUxXV.rec.rec-carousel-wrapper {
  margin-left: 0;
}

/* .pag button {
  font-size: 15px;
} */

.tst {
  display: flex;
  justify-content: center;
}

/* button.eWjCzc {
  background-color: black;
} */

/* button.eWjCzc {
  background-color: black;
} */

button.eWjCzc:hover:enabled {
  background-color: black;
}

/* .eAyARa:hover:enabled {
  background-color: red;
} */
